/* Section Header Container */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 .manage-products-container{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}
.manage-products-container .section-header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.manage-products-container .section-header h2,.manage-products-container #products-data-table{
    margin-left: 40px;
}
.manage-products-container .section-header span{
    border: 1px solid gray;
    display: flex;
    align-items: center;
    margin-right: 30px;
    width: 350px;
    justify-content: space-between;
    height: 40px;
    border-radius: 5px;
}
.manage-products-container .section-header span input{
   width: 100%;
   height: 100%;
   border: none;
   outline: none;
}
.manage-products-container .section-header span input::placeholder{
    font-weight: bold;
    font-size: 15px;
}
.manage-products-container .section-header span i{
    padding: 8px 8px;
    color: gray;
}
/* End Of Section Header Container */
#category-list{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#category-list li{
    list-style: none;
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.247);
    border-radius: 8px;
    padding: 5px 5px;
    cursor: pointer;
}
#category-list li:hover{
    background-color: rgba(0, 128, 0, 0.193);
    color: green;
}
#buttonClickedContainer{
    margin-left:50px ;
    font-style: italic;
    transform: translateY(20px);
    font-size: 20px;
    font-weight: bold;
    color: green;
}
/* Products Data Table Container */
.table-container{
    /*flex-grow: 1;*/
    max-height: 400px;
    overflow-y: auto;
    /*overflow: hidden;*/
}
table{
    width: 95%;
    border-collapse:collapse;
}
/*table tr:first-child td{
    padding: 8px 0;
    font-weight: bold;
}*/
.edit-trash_icon i:first-child{
    border: 1px solid rgba(128, 128, 128, 0.519);
    border-radius: 50%;
    padding: 8px 8px;
}
.edit-trash_icon i:last-child{
    border: 1px solid red;
    border-radius: 50%;
    padding: 8px 8px;
    color: red;
    margin-left: 10px;
}
.edit-trash_icon i{
    cursor: pointer;
}
img{
    width: 80px;
}
table tr{
    text-align: center;
}
table tr td{
    border-top: 1px solid gray;
}
/*
.arrow-up-arrow-down{
    width: 18px;
    margin-top: -5px;
}
.inline-box{
    display: flex;
    justify-content: center;
}
.inline-box img{
    margin-left: 2px;
}*/
.outOfStock{
    background-color: rgba(255, 192, 203, 0.729);
    color: red;
}
.lowStock{
    background-color: rgba(255, 166, 0, 0.247);
    color: orangered;
}
.inStock{
    background-color: rgba(0, 128, 0, 0.193);
    color: green;
}
.outOfStock, .lowStock, .inStock{
    font-weight: bold;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 8px;
}
td.status div{
    transform: translateX(70px);
}
thead th{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: silver;
}
th{
    padding: 8px;
}
/* Modal Window */
#editDialog{
    width: 400px;
    height: 430px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 20px;
    border: none;
    border-radius: 8px;
    position: relative;
}
#editDialog h3{
    padding-bottom: 10px;
}
#editDialog input{
    outline: none;
    padding: 5px 5px;
}
form .form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
form menu{
    position: absolute;
    right: 30px;
    bottom: 15px;
}
form menu button{
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    background-color: rgba(128, 128, 128, 0.315);
    font-weight: bold;
    cursor: pointer;
}
form menu button:hover{
    background-color: rgba(0, 128, 0, 0.727);
    color: whitesmoke;
}