*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
button{
    cursor: pointer;
}
/* Categories Navigation Bar */
.category-container{
    text-align: center;
    position: relative;
}
.category-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100px;
}
.category-container ul li{
    margin-left: 40px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 7px 4px;
    cursor: pointer;
}
.category-container #purchases-menu-container #cart-icon{
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 8px 18px;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: #198754;
    color: #fff;
    cursor: pointer;
    width: fit-content;
    position: absolute;
    top: 27px;
    right: 20px;
    /*position: sticky;
    top: 0;*/
}
.category-container #purchases-menu{
    background-color: white;
    width: 400px;
    height: 100vh;   
    position: absolute;
    right: 40px;
    top: 78px;
    z-index: 4;
    text-align: left;
    box-shadow: 2px 2px 10px gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
    padding: 10px 8px;
    overflow-y: scroll;
}
/* Styles for Products Section */
.products-container{
    margin-top: 80px;
    margin-left: 50px;
    height: fit-content;
}
.all-products{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    position: relative;
}
.all-products .product-card{
    z-index: 0;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid rgba(128, 128, 128, 0.366);
    border-radius: 8px;
    width: 200px;
    padding: 10px 0px;
    height: 230px;
}
.product-card .product-image img{
    width: 100px;
    height: 100px;
    margin-top: 3px;
    transform: translateX(50%);
}
.all-products .product-card .product-media .product-Off span, .swiper-slide .product-card .product-media .product-Off span{
    width: fit-content;
    padding: 3px 12px;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #198754;
    color: #fff;
    font-size: 13px;
    margin-left: 20px;
}
.product-card .product-content{
    margin-top: 3px;
    margin-left: 20px;
    display: flex;
}
.product-card .product-content .productName-unit-price .productName{
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 14px;
}
.product-card .product-content .productName-unit-price .unit{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    color: gray;
}
.product-content .add-button button{
    position: absolute;
    bottom: 8px;
    right: 10px;
    background-color: #198754;
    border-radius: 8px;
    padding: 10px 25px;
    text-align: center;
    font-weight: 1000;
}
.product-content .add-button button:hover{
    background-color: #000;
    color: #fff;
}
.product-card .product-content .productName-unit-price .newPrice{
    font-weight: bold;
    font-size: 14px;
}
.product-card .product-content .productName-unit-price .oldPrice{
    font-size: 13px;
    color: gray;
    text-decoration: line-through;
}
.outOfStock{
    background-color: grey;
    width: 100%;
    padding: 15px 15px ;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    position: absolute;
    top: 40%;
    text-align: center;
    color: #fff;
    z-index: 6;
    left: 0;
}
.active{
    background-color: #198754;
    color: #fff;
}
.hero-discovery-section{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    color: rgba(128, 128, 128, 0.897);
}
.hero-discovery-section img{
    margin-bottom: 8px;
}
/* Show and Hide Menu */
.displayMenu{
    visibility: hidden;
}
.productContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.productContainer button{
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.productContainer button:hover{
    background-color: rgba(128, 128, 128, 0.575);
    color: #000;;
}
/* List Of Multiple Products */
.liste-of-products{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.liste-of-products .multiple-products img{
  width: 260px;
  height: 280px;
  margin:10px 10px; 
  margin-top: 50px;
}
.liste-of-products .multiple-products h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 50px;
}
/* Upcoming Products */
#upcoming-products-container{
    margin-top: 150px;
    width: 100%;
}
#upcoming-products{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#upcoming-products-container h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#upcoming-products-container p{
  text-align: center;
  margin-top: 26px;
  font-family: cursive;
}
#upcoming-products-container .upcoming-product-card{
  width: 220px;
  height: 240px;
  border: 2px solid black;
  margin-top: 100px;
  background-color: rgba(60, 179, 114, 0.599);
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}
#upcoming-products-container .upcoming-product-card::before{
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  top: 50%;
  left:-35px;
  transform: translateY(-50%);
  border-radius: 50%;
}
#upcoming-products-container .upcoming-product-card::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  top: 50%;
  right:-35px;
  transform: translateY(-50%);
  border-radius: 50%;
}
#upcoming-products-container .upcoming-product-card .imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#upcoming-products-container .upcoming-product-card .imageContainer img{
  width: 120px;
  height: 120px;
}
#upcoming-products-container .upcoming-product-card span{
  background-color: black;
  margin-top: 20px;
  display: block;
  width: fit-content;
  padding: 4px 7px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  font-weight: bold;
  margin-left: 20px;
  border: 1px solid rgba(128, 128, 128, 0.721);
}
#upcoming-products-container .upcoming-product-card h3{
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/*#featured-products-container #nav-list{
    display: flex;
    justify-content: center;
}
#featured-products-container #nav-list li{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    list-style: none;
    cursor: pointer;
}
#featured-products{
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
#featured-products .featured-product{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 90px;
  background-color: rgba(128, 128, 128, 0.127);
  border-radius: 10px;
  width: 290px;
  height: 230px;
}
#featured-products .featured-product .image_container{
    display: flex;
    justify-content: center;
}
#featured-products img{
    width: 70%;
    height: 170px;
}
#featured-products .featured-product-details{
    background-color: #198754;
    color: whitesmoke;
    padding: 2px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/** Promo Section **/
.promo-section{
  display: flex;
  justify-content: center;
  margin-top: 280px;
}
.promo-section img{
  margin-left: 15px;
  margin-right: 15px;
}
/** Latest Products Section **/
.latest-products{
    margin-top: 180px;
    height: 400px;
}
.latest-products h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
} 
.swiper{
  width: 90%;
  height: 380px;
  margin-top: 100px;
}
.swiper-slide{
  text-align: center;
  font-size: 28px;
  background-color:rgba(245, 222, 179, 0.479);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 2px 2px 3px black;
  border: 1px solid rgba(128, 128, 128, 0.248);
}
.swiper-slide .product-card .product-media .product-Off span{
  font-size: 20px;
  margin-left: 20;
  margin-top: 20px;
  display: block;
}
.swiper-slide .product-card{
  height: 100%;
}
.swiper-slide .product-card .product-image img{
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin-top: 25px;
}
.swiper-slide .product-card .product-content{
  margin-top: 20px;
}
.swiper-slide .product-card .product-content .productName{
  font-size: 20px;
}
.swiper-slide .product-content .add-button button{
  transform: translate(-30px,-20px);
}
/** From The Blog Section **/
.blog-section-container{
    margin-top: 300px;
}
.blog-section-container h2{
 text-align: center;
 font-size: 35px;
 font-family:  "Protest Strike";
 margin-bottom: 100px;
 font-weight: bold;
}
.blog-section-container .blog-section .blog-card h3{
  text-align: left;
  margin-left: 0;
  font-family: cursive;
  color: red;
}
.blog-section-container .blog-section{
  display: flex;
 justify-content: space-around;
}
.blog-section-container .blog-section .information .description{
  width: 400px;
  margin-top: 15px;
}
.blog-section-container .blog-section .information .description p{
  line-height: 25px;
}
.blog-section-container .blog-section .blog-card{
  margin-left: 8px;
  margin-right: 8px;
}
.blog-section-container .blog-section .information{
  margin-top: 25px;
}
.blog-section-container .blog-section .information .date{
  color: gray;
}
.blog-section-container .blog-section .information .date{
  color: gray;
}
.blog-card img{
    width: 380px;
    height: 250px;
}

/** Footer Section **/
footer{
  margin-top: 150px;
  background-color: #87aec71a;
  padding: 50px 70px;
}
footer .contact-container .contact-details img{
  width: 150px;
  height: 50px;
}
footer .contact-container{
  display: flex;
  justify-content: space-between;
}
footer .contact-container .personnel-informations-container .personnel-informations{
  display: flex;
}
footer .contact-container .contact-details p{
  margin-top: 20px;
}
.personnel-informations-container h5{
  font-size: 20px;
}
.personnel-informations-container .personnel-informations .site-info p, .company-section p{
  margin-top: 15px;
}
.personnel-informations-container .personnel-informations .company-section p{
  margin-left: 50px;
}
.newsletter-section p{
  margin-top: 15px;
}
.newsletter-section h4{
  font-size: 20px;
}
.newsletter-section .newsletter-form{
  height:45px;
  border: 1px solid gray;
  margin-top: 30px;
  background-color: #fff;
}
.newsletter-section .newsletter-form .email-input{
  width: 250px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  padding-left: 10px;
}
.newsletter-section .newsletter-form button.subscribe-btn{
  height: 100%;
  cursor: pointer;
}
.newsletter-section .social-icons{
  margin-top: 30px;
}
.newsletter-section .social-icons i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  color: gray;
  margin: 0 8px;
}
.newsletter-section .social-icons i:hover{
  background-color: rgba(0, 128, 0, 0.712);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.4s linear;
}
.footer-bottom{margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer-bottom .footer-info{
  display: flex;
}
footer{
  position: relative;
}
.footer-bottom::before{
  content: '';
  width: 88%;
  height:1px ;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.37);
  top: 75%;
}
.footer-bottom .footer-info {
  color: gray;
}
.footer-bottom .footer-info a{
  text-decoration: none;
  color: rgba(0, 0, 255, 0.603);
}
.footer-bottom .footer-info .made-with{display: flex;
  margin-left: 12px;
}

